/node_modules
/.next/
/out/
/public/c2-app/
/public/c2-static-manifest.json
/public/images/
/public/data/
/data/
/.cache/
/workspace/
/dist/
.DS_Store
*.pem
npm-debug.log*
.env
.env*.local
**/gallery-secret.json
*.tsbuildinfo
.cursor/
mutagen.yml
