# Kopie nach mutagen.yml, HOST und Pfade anpassen, dann: mutagen daemon start && mutagen project start
sync:
  c2-gallery:
    alpha: "~/c2-deploy"
    beta: "HOST:httpdocs/galerie"
    mode: "one-way-safe"
    permissions:
      defaultFileMode: 0644
      defaultDirectoryMode: 0755
    ignore:
      vcs: true
      paths:
        - ".DS_Store"
  c2-gallery-private:
    alpha: "~/c2-private"
    beta: "HOST:httpdocs/pictures-private"
    mode: "one-way-replica"
    permissions:
      defaultFileMode: 0644
      defaultDirectoryMode: 0755
    ignore:
      vcs: true
      paths:
        - ".DS_Store"
